<a href="https://colab.research.google.com/github/Zia-Ul-Hasan/Churn-Prediction-IBM-telco/blob/main/Basic_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [8]:
df=pd.read_excel("Telco_customer_churn.xlsx")

In [11]:

print(df.describe)

<bound method NDFrame.describe of       CustomerID  Count        Country       State          City  Zip Code  \
0     3668-QPYBK      1  United States  California   Los Angeles     90003
1     9237-HQITU      1  United States  California   Los Angeles     90005
2     9305-CDSKC      1  United States  California   Los Angeles     90006
3     7892-POOKP      1  United States  California   Los Angeles     90010
4     0280-XJGEX      1  United States  California   Los Angeles     90015
...          ...    ...            ...         ...           ...       ...
7038  2569-WGERO      1  United States  California       Landers     92285
7039  6840-RESVB      1  United States  California      Adelanto     92301
7040  2234-XADUH      1  United States  California         Amboy     92304
7041  4801-JZAZL      1  United States  California  Angelus Oaks     92305
7042  3186-AJIEK      1  United States  California  Apple Valley     92308

                    Lat Long   Latitude   Longitude  Gender  ...  \
0     33.964131, -118.272783  33.964131 -118.272783    Male  ...
1      34.059281, -118.30742  34.059281 -118.307420  Female  ...
2     34.048013, -118.293953  34.048013 -118.293953  Female  ...
3     34.062125, -118.315709  34.062125 -118.315709  Female  ...
4     34.039224, -118.266293  34.039224 -118.266293    Male  ...
...                      ...        ...         ...     ...  ...
7038  34.341737, -116.539416  34.341737 -116.539416  Female  ...
7039  34.667815, -117.536183  34.667815 -117.536183    Male  ...
7040  34.559882, -115.637164  34.559882 -115.637164  Female  ...
7041     34.1678, -116.86433  34.167800 -116.864330  Female  ...
7042  34.424926, -117.184503  34.424926 -117.184503    Male  ...

            Contract Paperless Billing             Payment Method  \
0     Month-to-month               Yes               Mailed check
1     Month-to-month               Yes           Electronic check
2     Month-to-month               Yes           Electronic check
3     Month-to-month               Yes           Electronic check
4     Month-to-month               Yes  Bank transfer (automatic)
...              ...               ...                        ...
7038        Two year               Yes  Bank transfer (automatic)
7039        One year               Yes               Mailed check
7040        One year               Yes    Credit card (automatic)
7041  Month-to-month               Yes           Electronic check
7042        Two year               Yes  Bank transfer (automatic)

      Monthly Charges Total Charges Churn Label Churn Value Churn Score  CLTV  \
0               53.85        108.15         Yes           1          86  3239
1               70.70        151.65         Yes           1          67  2701
2               99.65         820.5         Yes           1          86  5372
3              104.80       3046.05         Yes           1          84  5003
4              103.70        5036.3         Yes           1          89  5340
...               ...           ...         ...         ...         ...   ...
7038            21.15        1419.4          No           0          45  5306
7039            84.80        1990.5          No           0          59  2140
7040           103.20        7362.9          No           0          71  5560
7041            29.60        346.45          No           0          59  2793
7042           105.65        6844.5          No           0          38  5097

                       Churn Reason
0      Competitor made better offer
1                             Moved
2                             Moved
3                             Moved
4     Competitor had better devices
...                             ...
7038                            NaN
7039                            NaN
7040                            NaN
7041                            NaN
7042                            NaN

[7043 rows x 33 columns]>

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [14]:
df.drop(['CustomerID','Count','Country','CLTV','Churn Score'], axis=1 ,inplace=True)

In [ ]:
cols['Total Charges',]
df[cols]=df[cols].apply(pd_to_numeric,errors='coerce')